/*comments*/
h1 {
    color: rgba(92, 7, 7, 0.596);
    background-color:darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
body {
    font-family: Verdana, sans-serif;
    background-color: salmon;
}
p {
    background-color: white;
}
blockquote {
    background-color: white;
}
.whatever {
    color: green;
    font-weight: bold;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
ul {
    font-size: 85%;
    font-style: oblique;
}
#encabezado {
    font-style: normal;
}
li {
  font-style: oblique;
}
ol {
    font-size: 85%;
    font-style: italic;
}
.test {
    text-decoration: underline; 
    text-decoration: overline;
    text-decoration: line-through;
    /*Vale, si pongo más de un comando, solo se refleja el último*/
    text-align: center;
    letter-spacing: 2px;
}
ol{
    line-height: 2em;
}
ul {
    text-transform: uppercase;
}
.important{
    word-spacing: 0.5em;
}
h2{
    text-indent: 50px;
    text-shadow: -1px 1px 1.5px #000000;
}
#title{
    text-align: center;
}
a:link{
    color: deeppink;
    text-decoration:none;
}
a:visited{
    color: black;
}