/*comments*/
h1 {
    color: rgba(92, 7, 7, 0.596);
    background-color:darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
body {
    font-family: Verdana, sans-serif;
    background-color: salmon;
    background-color: hsl(#f99,0%,50%);
}
p {
    background-color: white;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}